@import './base/mixins';
@import './base/variables';

* {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

@import './blocks/titles';
@import './blocks/buttons';
@import './blocks/_forms';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/protect';
@import './blocks/accessibility';
@import './blocks/interface';
@import './blocks/get';