.accessibility {
    min-height: 820px;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    &__map {
        position: absolute;
        right: -20%;
        z-index: -1;
    }
    &__wrapper {
        width: 480px;
    }
    &-partners {
        margin-top: 60px;
        &__items {
            margin-top: 25px;
        }
        &__item:first-of-type {
            margin-right: 25px;
        }
    }
}