.header {
    min-height: 1000px;
    background: url(../img/banner_background.jpg) center (center/cover) no-repeat;
    padding-top: 40px;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        &-menu {
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            list-style: none;
            li {
                margin-right: 40px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .hamburger {
                display: block;
                cursor: pointer;
                width: 20px;
                height: 12px;
                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: black;
                    margin-bottom: 3px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__contacts {
            margin-bottom: 0;
            display: flex;
            align-items: center;
            list-style: none;
            li {
                margin-right: 40px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
        &__getapp {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $main-color;
            width: 130px;
            height: 42px;
            border-radius: 20px;
            color: white;
            &:hover {
                color: white;
                text-decoration: none;
            }
            img {
                margin-right: 12px;
                height: 20px;
            }
        }
    }
    &__logo {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: black;
        span {
            font-weight: 900;
        }
        &:hover {
            text-decoration: none;
            color: black;
        }
    }
}