.title {
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
}
.descr {
    margin-top: 65px;
    font-size: 20px;
    color: #8c8f94;
}
.subtitle {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    &_grey {
        color: $grey-color;
    }
    &_thin {
        margin-top: 65px;
        font-weight: 300;
    }
}